<header class="navbar navbar-default">
  <div class="container" class="nav1">
    <div class="row">
      <div class="col-sm-2">
        <a routerLink="/home">
          <img class="logo" src="http://mylogos.top/images/logos-blanc.png" alt="Logos Boutique" >
        </a>
      </div>
      <div class="col-sm-4">
        <div class="recherche-produit input-group">
          <input type="text" class="form-control" placeholder="Rechercher un produit">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="panier">
          <panier></panier>
      </div>
        
      
        <div class="logzone">
          <div *ngIf="!(connexionService.isLoggedIn())">
            <div class="col-sm-2">
              <a href="#">Sign in</a>
            </div>
      
            <div class="col-sm-2">
              <a href="#">Log in</a>
            </div>

          </div>
          <p *ngIf="(connexionService.isLoggedIn())">
            Bonjour {{ connexionService.infoUtilisateur.utilisateur.prenom }}
          </p>
      </div>

      

    </div>


  </div>
  <div class="nav2 container">
    <div class="row">
      <div class="col-sm-2">
        <a href="#">Livres</a>
      </div>
      <div class="col-sm-2">
        <a href="#">CD</a>
      </div>
      <div class="col-sm-2">
        <a href="#">DVD</a>
      </div>
      <div class="col-sm-2">
        <a routerLink="/premium">Premium</a>
      </div>
      <div class="col-sm-1">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-sm-1">
        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-sm-1">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-sm-1">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</header>