<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Panier</h4>
      </div>
      <div>
        <ul>
          <li *ngFor="let item of panierProduits">
            {{item.nom}}
          </li>
        </ul>
        <p>Panier piano</p>
        <button type="button" class="btn btn-outline-primary">Passe ta commande !</button>
      </div>
    </div>

  </div>
</div>