<div class="container">
  <h3>------------Stage------------</h3>
  <div id="order-stage-tabs">
    <ul class="nav nav-pills">
      <li class="active" data-step="recap">
        <a data-toggle="pill" href="#pills-recap">recap</a>
      </li>
      <li data-step="connexion">
        <a data-toggle="pill" href="#pills-connexion">connexion</a>
      </li>
      <li data-step="livraison">
        <a data-toggle="pill" href="#pills-livraison">livraison</a>
      </li>
      <li data-step="paiement">
        <a data-toggle="pill" href="#pills-paiement">paiement</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="pills-recap" data-step="recap">
        <div>
          <p>Recapitulatif de votre commande :</p>

          <div *ngFor="let ligneCmd of commandeService.commandeEnCours.ligneCommande">
            <span>{{ ligneCmd.produit.nom }}</span>
            <span>{{ ligneCmd.produit.prix }}</span>
            <span>
              <input type="number" min="0" [(ngModel)]="ligneCmd.quantite" />
            </span>
            <span>{{ ligneCmd.prixTotal() }}</span>
          </div>
          <div>{{ commandeService.commandeEnCours.prixTotal() }}</div>

          <button class="btn" (click)="jumpToStep('connexion')">Suivant</button>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-connexion" data-step="connexion">


        <div>
          <button class="btn" (click)="jumpToStep('livraison')">Suivant</button>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-livraison" data-step="livraison">
        <div>
          <label>Adresse de Livraison : </label>
          <textarea id="adresse" placeholder="Adresse..."></textarea>
        </div>

        <div>
          <button class="btn" (click)="jumpToStep('paiement')">Suivant</button>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-paiement" data-step="paiement">

        <div>
          <button class="btn" >Paiement</button>
        </div>
      </div>
    </div>
  </div>
  <!-- #order-stage-tabs -->


</div>