
  <h2>Devenez premium</h2>

  <!-- une jolie image en plein largeur -->

  <p class="description">bla bla bla...</p>
  
  
  <!-- prix 999 999 999 $ -->

  <button *ngIf="!(logToiStp)" (click)="premiumToCartCommand()" [disabled]="panierService.panierProduit.includes(produitPremium)">
      {{ {true:'Produit ajouté au panier',false:'Ajouter au panier'}[panierService.panierProduit.includes(produitPremium)] }}
      </button>

  <div class="panneau-login" *ngIf="logToiStp">
    <h3>Cet article est personalisé. veuillez vous connecter.</h3>

    <div *ngIf="erreurLogin" class="alert alert-danger" role="alert">
      Votre mot de passe et/ou votre identifiant n'ont pas été reconnus
    </div>


    <label>Login</label>
    <input type="text" id="login" [(ngModel)]="login" />
    <br/>
    <label>Password</label>
    <input type="password" id="password" [(ngModel)]="password" />
    <br/>
    <button class="btn" (click)="connexion()">Continuer</button>

  </div><!-- /login -->
